.parent{
  /* border: 2px solid red; */
  background: red;

  margin: 15px 0;    
  /* 左右不合并，上下合并 */

  /* border-top: 10px solid green; */  
  /* parent, child之间margin上下不合并 */

  /* padding-top: 1px; */  
  /* parent, child之间margin上下不合并 */

  /* overflow: hidden;   */
  /* parent, child之间margin上下不合并 */
}

.child{
  border: 2px solid blue;
  margin: 30px 0;
  /* display: inline-block; */  
  /* width: 100%; */
  /* child之间margin上下不合并 */
}

body{
  border: 1px solid black;
}