.demo {
  background: rgb(120, 184, 211);
  width: 200px;
  height: 200px;
  border: 15px solid rgba(255, 0, 0, 0.2);
  padding: 10px;
}
.childDiv {
  background: #fff;
  height: 50px;
  color: red;
}

.float {
  float: left;
  background: green;
  height: 50px;
  width: 50px;
  color: red;
}

.text {
  margin-left: -10px;
}
