* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border: 1px solid red;
  /* min-height: 400px; */
  width: 800px;
  /* justify-content: space-between; */
  grid-gap: 12px;
}

.container > div {
  border: 1px solid black;
}

.image {
  width: 191px;
  height: 191px;
  background: grey;
}
