.container {
  border: 1px solid red;
  height: 300px;
  position: relative;
  padding: 20px;
}
* {
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.demo {
  border: 1px solid green;
  background: green;
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 0;
  top: 5px;
}

.demo2 {
  background: black;
  width: 50px;
  height: 50px;
  position: relative;
  z-index: -1;
}

.close {
  position: absolute;
  /* 某些浏览器上如果不写 top / left 会位置错乱 */
  top: 0;
  right: 0;
  padding: 0 8px;
  background: blue;
  color: white;
}

button {
  position: relative;
}

button span {
  position: absolute;
  border: 1px solid red;
  /* 文字内容不准换行 */
  white-space: nowrap;
  bottom: calc(100% + 10px);
  /* 善用 left: 50%; 加负 margin */
  left: 50%;
  /* margin-left: -27px; */
  /* 比负 margin 更好，不用计算 */
  transform: translateX(-50%);
}

button span {
  display: none;
}

button:hover span {
  display: inline-block;
}
