.div1{
  font-size: 20px;
  border: 1px solid red;
  width: 3em;
  background: #FF6600;
  background: #F60;
  background: rgba(255, 0, 127, 0); 
  background: hsl(180, 50%, 50%, 1);  /* 色相：360, 饱和度：100%, 亮度：100% */
    
}