.container {
  border: 1px solid red;
  height: 300px;
  position: relative;
  padding: 20px;
}
* {
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.fixed {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  border: 1px solid green;
  width: 100px;
  height: 100px;
}

.fixed {
  position: fixed;
  left: 10px;
  bottom: 10px;
  background: green;
}

.container {
  /* transform: scale(0.9); */
}
